[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
environs = "*"
django-request-viewer = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
